*{
    margin: 0;
    padding: 0;

}

.outer {
    border: 1px solid black;
    width: 400px;
    padding: 5px 5px;
    margin-left: 10%;
}

.inner {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding-bottom: 10px;
}

body {
    margin-top: 50px;
    justify-content: center;
    display: flex;
}

h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;

}

button {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border: 1px solid blueviolet;
    border-radius: 4px;
}

input {
    padding: 10px;
    border: 1px solid rgb(201, 198, 247);
    border-radius: 4px;
}

.button {
    padding: 8px 12px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

#taskList {
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

li span {
    
    margin-left: 10px;
    font-size: 25px;
}

.delete-btn {
    background-color: rgb(255, 63, 63);
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.check-box {
    margin-left: 5px;
}



